@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<div class="modal fade" id="modal-detail" tabindex="-1" role="dialog" aria-labelledby="modal-detail-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-detail-label">@Localizer["Audit Log Detail"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>@Localizer["Time"]</label>
                    <p id="log-timestamp" class="font-italic"></p>
                </div>
                <div class="form-group">
                    <label>@Localizer["Old Values"]</label>
                    <pre id="old-values" class="bg-light p-2 border rounded text-danger"></pre>
                </div>
                <div class="form-group">
                    <label>@Localizer["New Values"]</label>
                    <pre id="new-values" class="bg-light p-2 border rounded text-success"></pre>
                </div>
            </div>
        </div>
    </div>
</div>
